.otp-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.otp-input:focus {
    border-color: #ff8243;
    box-shadow: 0 0 5px rgba(255, 130, 67, 0.5);
    /* Change box shadow color */
}

/* Add hover styles for OTP input */
.otp-input:hover {
    border-color: #ff8243;
}

/* Add general styles for OTP input */
.otp-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    /* Add box-shadow to transition */
    color: #ff8243;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Add default box shadow */
}